<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container mt-4">
    <h3 class="mb-4">Remove Blog</h3>
    <p>
        <a th:href="@{/blogs}" class="btn btn-secondary">Back to Product List</a>
    </p>
    <div class="card">
        <div class="card-body">
            <form th:action="@{/blogs/delete}" th:object="${blog}" method="POST" novalidate="novalidate">
                <input type="hidden" th:field="*{id}"/>
                <div class="mb-3">
                    <label for="name" class="form-label">Title</label>
                    <input type="text" id="name" th:field="*{title}" class="form-control" placeholder="Product name" disabled/>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">content</label>
                    <input type="text" id="description" th:field="*{content}" class="form-control" placeholder="Product description" disabled/>
                </div>
                <div class="mb-3">
                    <label for="productActor" class="form-label">Author</label>
                    <input type="text" id="productActor" th:field="*{author}" class="form-control" placeholder="Product actor" disabled/>
                </div>
                <div class="mb-3">
                    <strong>Category:</strong>
                    <span th:text="${blog.category.nameCategory}" class="ms-2"></span>
                </div>
                <button type="submit" class="btn btn-danger">Remove</button>
                <a th:href="@{/blogs}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>