*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#head{
    background-color: #5aa3e5;
    height: 150px;
}
#head-link{
    background-color: #333333;
    height: 100px;
}
#left{
    background-color: #6aa84f;
    height:300px;
    width: 30%;
    float:left;
}
#right{
    background-color: #6aa84f;
    float:right;
    height: 300px;
    width: 30%;
}
#content{
    width: 60%;
}
#footer{
    height: 150px;
    background-color: #5aa3e5;
    clear:both;
}

